:root {
    /* --primary: #EA40A4;
    --business: #3A82EE; */
    --primary: #E8A0BF;
    --business: #3A82EE;
    --business: #B2A4FF;
    --primary: #FF8080;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;
    --color1: #FD8A8A;
    --color2: #F1F7B5;
    --color3: #A8D1D1;
    --color4: #9EA1D4;

    
    --color5: #F6FDC3;
    --color6: #CDFAD5;
    --color7: #F8EAD8;
    --color8: #FF8080;
    --color9: rgb(237, 218, 193);
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --business-glow: 0px 0px 4px rgba(177, 163, 255, 0.75);
    --personal-glow: 0px 0px 4px rgba(232, 161, 192, 0.75);
}

* {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

input:not([type='radio']):not([type='checkbox']), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    display: flex;
    background-color: #191a1a;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    position: relative;
    width: 638px;
    height: 602px;
    background: var(--color9);
    color: var(--dark);
    border-radius: 10px; 
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    margin-top: 1rem;
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title, 
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 1.2rem;
}

.create-todo input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
}

.create-todo input[type="submit"] {
    border: none;
    outline: none;   
    color: #fff;
    background: var(--color1);
    font-size: 1.1rem;
    padding: 0.8rem 1.7rem;
    cursor: pointer;
    border-radius: 40px;
}

.create-todo input[type="submit"]:hover {
    background: var(--color8);
}

.create-todo input[type="submit"]:active {
    transform: scale(0.95);

}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.2rem;
  }
  
  .custom-radio input {
    display: none;
  }
  
  .radio-span {
    width: 100%;
    height: 62px;
    background: var(--color7);
    border: 1px solid var(--color7);
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
  }
  
  .radio-buttons h3 {
    display: inline-block;
  }
  
  .radio-span > i {
    color: #fff;
    background-color: var(--personal);
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(4); 
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
    box-shadow: var(--shadow);
  }

  .todo-container {
    display: flex;
    margin-bottom: 3px;
    padding: 5px;
  }

  .todo-container .todo-item {
    position: relative;
  }

  .radio-span.work > i {
    background-color: var(--business);
  }
  
  .radio-span .radio-text {
    width: 100px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .radio-span .radio-text i {
    color: var(--dark);
    line-height: 62px;
    font-size: 44px;
    margin-right: 5px;
  }

  .radio-span .radio-text.work i {
    margin-right: 8px;
  }
  
  .radio-span .radio-text h3 {
    color: var(--dark);
    user-select: none;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }

  
  .custom-radio input:checked + .radio-span {
    border: 3px solid var(--personal);
  }
  
  .custom-radio input:checked + .radio-span.work {
    border: 3px solid var(--business);
  }
  
  .custom-radio input:checked + .radio-span > i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

.custom-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.custom-check i {
    color: #fff;
    background-color: var(--business);
    font-size: 28px;
    width: 35px;
    height: 35px;

    position: absolute;   
    transform: translateX(-10%) scale(4);
    border-radius: 50px;
    padding: 5px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

.custom-check.personal i {
    background-color: var(--personal);
}

.todo-container .custom-check.custom-checked > i {
    opacity: 1;
    transform: translateX(-4%) scale(1);
    box-shadow: var(--business-glow);
}

.todo-container .custom-check.personal.custom-checked > i {
    box-shadow: var(--personal-glow);
}

.todo-container .todo-item {
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    padding: 3px;
    top: 4px;
}

.custom-check .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--business);
    margin-right: 5px;
    box-shadow: var(--business-glow);
}

.custom-check.personal .bubble {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

#todos-list {
    position: relative;
    margin: 0.5rem 0;
    height: 350px;
    overflow-y: auto;
    padding-right: 8px;
    background: var(--color7);
    border-radius: 15px;
    box-shadow: var(--shadow);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 0.5rem;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.noselect {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Versión sin prefijo, actualmente
                                        compatible con Chrome y Opera */
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1rem;
    width: 100%;
    user-select: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions button {
    height: 38;
    width: 38;
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.8;
}

.actions button {
    margin-left: 0.2rem;
}
.actions .edit {
    background-color: var(--color2);
}

.actions .delete {
    background-color: var(--color6);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}